@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Gabarito", "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #A0A0A0;
}
